:root {
    --Main: rgb(120, 30, 25);
    --white: rgb(230, 230 , 230);
}

body {
    margin: -22px 0 0 -10px;
    background: var(--white);

}

.header__body {
    background: var(--Main);
    width: 100%;
    height: 20px;
    margin-bottom: -16px;
}

nav {
    background: var(--Main);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

}
/* 
.ul_nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.ul_nav > img{
    padding: 10px;
}

.li__ul {
    list-style: none;
    margin-top: 20px; 
   
}

.li__ul a {
    text-decoration: none;
    color:var(--white) ;
}

#logo-figure {
    width: 40px;
    height: 40px;
} */